.usPostList {
    width: 70%;
    margin: 0 auto;
}

.usPost {
    display: flex;
    margin: 12px;
    padding: 12px;
    font-family: 'SLEIGothicTTF';
}

.usPostTitle {
    flex-basis: 35%;        
}