span {
  font-family: 'SLEIGothicTTF';
}

.usBorder {
  border: 1px solid #dfe0e5;
  border-radius: 3px;
}

.usEmoji {
  width: 100px;
  margin: 0 auto 10px;
}

.App {
  position: relative;
  padding: calc((100vh - 263px) /2) 0;
  background-color: #F7F5F7
  ;
}

@font-face {
  font-family: 'SLEIGothicTTF';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2104@1.0/SLEIGothicTTF.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
